{% extends 'base.html' %}
{% load markdown_helper %}

{% block title %}Projects{% endblock %}

{% block content %}
    {% if projects.count == 0 %}
        There aren't any projects to show.
    {% endif %}
    {% for project in projects %}
        <h2><a href="{{ project.slug }}">{{ project.name }}</a></h2>

        <!-- TODO: Display image -->

        {% if project.project_url %}
            <p><strong>Project homepage:</strong> <a href="{{ project.project_url }}">{{ project.project_url }}</a></p>
        {% endif %}

        <p>{% filter markdownify %}{{ project.description|truncatewords:30 }}
            <a href="{{ project.slug }}">(more details)</a>{% endfilter %}</p>
    {% endfor %}
{% endblock %}