body {
    font-family: "Open Sans", "Lucida Grande", Verdana, Arial, sans-serif;
}

h1 {
    margin-bottom: 15px;
}

footer {
    text-align: center;
    margin-top: 20px;
}

.post {
    margin-bottom: 40px;
}

.post-meta {
    color: #828282;
    margin-bottom: 10px;
}

.project-meta {
    color: #828282;
}

/* Override default navbar active style */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
    box-shadow: none;
    font-weight: bold;
}